img {
  max-width: 100%;
  max-height: 100%;
}

#app {
  display: flex;
  max-width: 930px;
  margin: auto;
}

#title {
  margin-bottom: 24px;
  margin-left: 55px;
  color: rgb(72, 72, 72);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

#carousel-box {
  height: 420px;
  width: 890px;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  align-items: stretch;
  scroll-behavior: smooth;
}

#arrow-box {
  display: flex;
  align-items: center;
}

.caro-prev-white, .caro-next-white {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  width: auto;
  height: auto;
  margin-bottom: 180px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 27px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.caro-prev, .caro-next {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  width: auto;
  height: auto;
  margin-bottom: 180px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 27px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration:none;
}

/* fill: rgb(72, 72, 72);
    fill-opacity: 0.5;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round; */

.caro-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#caro-img-box {
  box-sizing: border-box;
  width: 193.59px;
  height: 258.11px;
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
}

#fav-button {
  cursor: pointer;
  position: absolute;
  bottom: 218px;
  left: 125px;
  color: rgba(72, 72, 72, .5);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  stroke-width: 2;
  font-size: 25px;
}

.full-item {
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  width: 170px;
  padding-left: 8px;
  scroll-padding-right: 8px;
}

.full-item > div {
  scroll-snap-align: start;
  transition-timing-function: ease-out;
}

#caro-img {
  border-radius: 3px;
}

#caro-cat {
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-bottom: 2px;
}

#caro-name {
  color: rgb(72, 72, 72);
  overflow-wrap: break-word !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 1.375em !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-height: 4.125em !important;
  -webkit-line-clamp: 3 !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

#caro-price {
  color: rgb(72, 72, 72);
  margin-top: 4px;
  overflow-wrap: break-word !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
  color: inherit !important;
  max-height: 3.85714em !important;
  -webkit-line-clamp: 3 !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

#caro-star {
  margin-top: 4px;
  color: rgb(19, 145, 111) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 800 !important;
}

/* box sizing, webkit box sizing, borderbox */